<div class="mx-auto max-w-screen-xl text-indigo-900">
  @switch (productsState.state.status()) {
    @case ("loading") {
      <p>Cargando...</p>
      <p>El servidor está tardando en responder</p>
    }
    @case ("error") {
      <p>Error al cargar base de datos</p>
    }

    @default {
      <div class="flex justify-end my-6">
        <button
          type="button"
          (click)="changePage()"
          class="text-white hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-indigo-700 dark:hover:bg-indigo-600 focus:outline-none dark:focus:ring-bg-indigo-700"
        >
          Cambiar pagina
        </button>
      </div>

      <div class="grid grid-cols-[repeat(4,300px)] gap-6">
        @for (product of productsState.state().products; track product) {
          <app-product-card
            class="block"
            [product]="product"
            (addToCart)="addToCart($event)"
          />
        }
      </div>
    }
  }
</div>
